@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-color: #fff;
    --background-start-color: #000;
    --primary-color: #e38617;
    --primary-color-800: #d36611;
    --secondary-color: #2364DB;
    --secondary-color-800: #17418F;
    --radius-sm: 1rem;
    --radius-md: 3rem;
    --radius-lg: 5rem;
    --radius-full: 9999px;
}

@layer base {
    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }
}

body {
    color: var(--foreground-color);
    background: var(--background-start-color)
}
